<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] *Онлайн-магазин на C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Store.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand bg-secondary ms-2" asp-area="" asp-controller="Home" asp-action="Index">Онлайн-магазин на C#</a>
            <a class="btn btn-primary" href="@Url.Action("Index","Catalog")">Каталог</a>
            <form class="d-flex mx-auto" action="@Url.Action("Index","Search")" method="get">
                <div class="input-group">
                    <input size="100" class="form-control" type="search" name="query" placeholder="автор/название/ISBN" aria-describedby="button-addon2" />
                    <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
                </div>
            </form>
            <a class="btn btn-primary" href="@Url.Action("InputNewBook","Book")">Добавить книгу</a>
            <span class="x me-2">
                @{
                    if (Context.Session.TryGetCart(out Cart cart) && cart.TotalCount > 0)
                    {
                        <a href="@Url.Action("Index", "Order")"> Товаров @cart.TotalCount на сумму @Math.Round(cart.TotalPrice, 2)₽ </a>
                    }
                    else
                    {
                        @:Корзина пуста
                    }
                }
            </span>
        </nav>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

@*     <div id="bottom-right" class="elfsight-app-8c41d276-7245-42bf-b937-305ba404482d" data-elfsight-app-lazy></div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script> *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

