@model OrderModel

@{
	ViewData["Title"] = "Подтверждение мобильного";
}
<h1>Подтверждение мобильного</h1>
<p>Введите код из смс</p>
<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
	<input type="hidden" name="cellPhone" value="@Model.CellPhone" />
	<div class="form-group">
		<label for="confirmationCode">Код подтверждения</label>
		<input type="text" class="form-control" name="confirmationCode" placeholder="0000" />
		@if (Model.Errors.ContainsKey("confirmationCode"))
		{
			<small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
		}
	</div>
	<button class="btn btn-outline-success" type="submit">Подтвердить код</button>
</form>
<p>Если код не пришел повторите</p>
<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post">
	<div class="form-group">
		<label for="cellPhone">Мобильный телефон</label>
		<input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone" />
		@if (Model.Errors.ContainsKey("cellPhone"))
		{
			<small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
		}
	</div>
	<button class="btn btn-outline-success" type="submit">Отправить повторно</button>
</form>
